#bg-dark {
  background-color: #1f001f;
  width: 100%;
  height: 80px;
  /* LOGINYES.HTML */ }
  #bg-dark .navbar {
    display: flex;
    justify-content: space-between; }
    #bg-dark .navbar .navbar-brand {
      height: 5rem;
      width: 5rem;
      margin-left: center; }
    #bg-dark .navbar .navbar-top {
      list-style-type: none;
      display: flex;
      align-items: center; }
      #bg-dark .navbar .navbar-top .navbar-two {
        background-color: #2b094b;
        color: ghostwhite;
        border-radius: 30px 30px 30px 30px;
        border-color: black;
        height: 4rem;
        width: 5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
        #bg-dark .navbar .navbar-top .navbar-two .nav-two {
          text-decoration: none;
          color: ghostwhite;
          font-style: italic; }
      #bg-dark .navbar .navbar-top .navbar-three {
        background-color: #2b094b;
        color: ghostwhite;
        border-radius: 30px 30px 30px 30px;
        border-color: rgba(0, 0, 0, 0.781);
        height: 4rem;
        width: 5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
        #bg-dark .navbar .navbar-top .navbar-three .nav-three {
          text-decoration: none;
          color: ghostwhite;
          font-style: italic; }
  #bg-dark .navyes {
    display: flex;
    justify-content: space-between; }
    #bg-dark .navyes .navyes-brand {
      width: 60px;
      height: 80px; }
    #bg-dark .navyes .navyes-top {
      display: flex;
      list-style-type: none;
      align-items: center; }
      #bg-dark .navyes .navyes-top .navbar-two {
        background-color: #2b094b;
        color: ghostwhite;
        border-radius: 30px 30px 30px 30px;
        border-color: black;
        height: 4rem;
        width: 5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
        #bg-dark .navyes .navyes-top .navbar-two .nav-two {
          text-decoration: none;
          color: ghostwhite;
          font-style: italic; }
      #bg-dark .navyes .navyes-top .navbar-three {
        background-color: #2b094b;
        color: ghostwhite;
        border-radius: 30px 30px 30px 30px;
        border-color: rgba(0, 0, 0, 0.781);
        height: 4rem;
        width: 5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
        #bg-dark .navyes .navyes-top .navbar-three .nav-three {
          text-decoration: none;
          color: ghostwhite;
          font-style: italic; }

main .bg-image .fondo {
  width: 100%;
  background-image: url("https://s11.gifyu.com/images/SGTb7.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh; }

main .bg-image .marquee {
  font-size: clamp(4ve 4rem 8vw);
  overflow: hidden;
  animation: "slideleft 30s non-linear repeat"; }

@keyframes marquee {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }
  main .bg-image .marquee .marquee--long span {
    margin-top: 90vh;
    display: inline-block;
    width: var(--tw);
    text-shadow: var(--tw) 0 currentColor, calc(var(--tw) * 2) 0 currentColor, calc(var(--tw) * 3) 0 currentColor, calc(var(--tw) * 4) 0 currentColor;
    will-change: repeat;
    animation: marquee var(--ad) linear infinite; }
    main .bg-image .marquee .marquee--long span .reel a {
      width: 100%; }
      main .bg-image .marquee .marquee--long span .reel a img {
        width: 90px;
        height: 90px; }

/* ENTER.HTML */
.login-body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url("../assets/apollo.gif");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .login-body #login-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center; }
    .login-body #login-container .login-input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      box-sizing: border-box; }
    .login-body #login-container .login-button {
      background-color: #e2d40c;
      margin-top: 10px;
      border-radius: 30px;
      width: 66px;
      height: 55px;
      cursor: pointer; }
      .login-body #login-container .login-button:hover {
        background-color: #e2d40c; }
      .login-body #login-container .login-button .botonlogin {
        text-decoration: none;
        color: black; }
  .login-body .botonancla {
    margin-top: 10px;
    border-radius: 30px;
    width: 66px;
    height: 55px;
    background-color: #e2d40c; }
    .login-body .botonancla .botonliston {
      text-decoration: none;
      color: black; }

/* INFO.HTML */
.bg-image {
  background-image: url("https://i.ibb.co/DVB5tNW/Fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .bg-image .info .infotitulo {
    color: bisque;
    font-size: xxx-large;
    font-style: italic;
    font-family: 'Lucida Sans', Times, serif; }
  .bg-image .info .infoinfo {
    color: blanchedalmond;
    font-size: medium;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100; }
  .bg-image .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 90px;
    margin-top: 20px; }
    .bg-image .formulario #contactForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px; }
      .bg-image .formulario #contactForm label {
        margin-bottom: 8px; }
      .bg-image .formulario #contactForm input,
      .bg-image .formulario #contactForm textarea {
        width: 100vh;
        padding: 8px;
        margin-bottom: 16px;
        background-color: white; }
      .bg-image .formulario #contactForm button {
        height: 45px;
        background-color: #0a3369;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 65px;
        cursor: pointer; }
    .bg-image .formulario a {
      text-decoration: none;
      color: inherit; }
    .bg-image .formulario .infovolver {
      height: 45px;
      background-color: #0a3369;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 65px;
      cursor: pointer; }

/* .formulario {
            #contactForm {
                .body_us {
                    font-family: Arial, sans-serif;
                    margin: 0;
                    padding: 0;
                    background-color: #1e1c88;

                    .main_us {
                        display: block;
                        max-width: 600px;
                        margin: 20px auto;
                        padding: 20px;
                        background-color: #fff;
                        box-shadow: 0 0 10px rgba(138, 12, 223, 0.1);
                        border-radius: 5px;

                        label {
                            margin-bottom: 8px;
                        }

                        input,
                        textarea {
                            width: 100%;
                            padding: 8px;
                            margin-bottom: 16px;

                            button {
                                background-color: #333333;
                                color: #fff;
                                padding: 10px 20px;
                                border: none;
                                border-radius: 3px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    } */
.footer {
  width: 100%;
  background-color: #1f001f;
  margin-top: 4vh; }
  .footer .footer-nav {
    display: flex; }
    .footer .footer-nav .footerp {
      color: bisque; }

@media (max-width: 320px) {
  #main #bg-dark {
    background-color: #1f001f;
    width: 20rem;
    height: 30px; }
    #main #bg-dark .navbar {
      display: flex;
      align-items: left; }
      #main #bg-dark .navbar .navbar-brand {
        height: 2rem;
        width: 1rem; }
      #main #bg-dark .navbar .navbar-top {
        list-style-type: none;
        display: flex;
        height: 20px;
        width: 20px; }
        #main #bg-dark .navbar .navbar-top .navbar-two {
          background-color: #2b094b;
          color: ghostwhite;
          border-radius: 30px 30px 30px 30px;
          border-color: black;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: xx-small;
          height: 20px; }
          #main #bg-dark .navbar .navbar-top .navbar-two .nav-two {
            text-decoration: none;
            color: ghostwhite;
            font-style: italic; }
        #main #bg-dark .navbar .navbar-top .navbar-three {
          background-color: #2b094b;
          color: ghostwhite;
          border-radius: 30px 30px 30px 30px;
          border-color: rgba(0, 0, 0, 0.781);
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: xx-small;
          height: 20px; }
          #main #bg-dark .navbar .navbar-top .navbar-three .nav-three {
            text-decoration: none;
            color: ghostwhite;
            font-style: italic;
            width: 0.5vh;
            height: 0.5vh; }
  #main .bg-image {
    height: 120vh; }
    #main .bg-image .fondo {
      background-image: url("https://i.gifer.com/7Rrd.gif");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 40vh; }
    #main .bg-image .marquee {
      font-size: clamp(4ve 4rem 8vw);
      overflow: hidden;
      animation: "slideleft 30s non-linear repeat"; }
  @keyframes marquee {
    0% {
      transform: translateX(0); }
    100% {
      transform: translateX(-100%); } }
      #main .bg-image .marquee .marquee--long span {
        margin-top: 60vh;
        display: inline-block;
        width: var(--tw);
        text-shadow: var(--tw) 0 currentColor, calc(var(--tw) * 2) 0 currentColor, calc(var(--tw) * 3) 0 currentColor, calc(var(--tw) * 4) 0 currentColor;
        will-change: repeat;
        animation: marquee var(--ad) linear infinite; }
        #main .bg-image .marquee .marquee--long span .reel a {
          width: 100%; }
          #main .bg-image .marquee .marquee--long span .reel a img {
            width: 50px;
            height: 50px; }
    #main .bg-image .Articulos {
      padding: 1rem;
      font-size: 0.9rem; }
      #main .bg-image .Articulos p {
        display: none;
        color: beige; }
      #main .bg-image .Articulos .snippet {
        display: block;
        color: beige;
        font-weight: 500; }
      #main .bg-image .Articulos .read-more {
        display: inline-block;
        margin-top: 0.5rem;
        font-size: 0.8rem;
        font-style: italic;
        color: beige;
        text-decoration: none;
        cursor: pointer; }
  .footer .footer-nav {
    display: flex; }
    .footer .footer-nav .footerp {
      color: bisque; }
  /* INFO.HTML */
  .bg-image {
    background-image: url("https://i.ibb.co/DVB5tNW/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .bg-image .info .infotitulo {
      color: bisque;
      font-size: medium;
      font-style: italic;
      font-family: 'Lucida Sans', Times, serif;
      margin-left: 3vh; }
    .bg-image .info .infoinfo {
      color: blanchedalmond;
      font-size: x-small;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 100; }
    .bg-image .formulario {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      border-radius: 90px;
      margin-top: 20px; }
      .bg-image .formulario #contactForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px; }
        .bg-image .formulario #contactForm label {
          margin-bottom: 8px; }
        .bg-image .formulario #contactForm input,
        .bg-image .formulario #contactForm textarea {
          width: 50vh;
          padding: 8px;
          margin-bottom: 16px;
          background-color: white; }
        .bg-image .formulario #contactForm button {
          height: 45px;
          background-color: #0a3369;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 65px;
          cursor: pointer; }
      .bg-image .formulario a {
        text-decoration: none;
        color: inherit; }
      .bg-image .formulario .infovolver {
        height: 45px;
        background-color: #0a3369;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 65px;
        cursor: pointer; } }

@media (max-width: 375px) {
  #main #bg-dark {
    background-color: #1f001f;
    width: 20rem;
    height: 30px; }
    #main #bg-dark .navbar {
      display: flex;
      align-items: left; }
      #main #bg-dark .navbar .navbar-brand {
        height: 2rem;
        width: 1rem; }
      #main #bg-dark .navbar .navbar-top {
        list-style-type: none;
        display: flex;
        height: 20px;
        width: 20px; }
        #main #bg-dark .navbar .navbar-top .navbar-two {
          background-color: #2b094b;
          color: ghostwhite;
          border-radius: 30px 30px 30px 30px;
          border-color: black;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: xx-small;
          height: 20px; }
          #main #bg-dark .navbar .navbar-top .navbar-two .nav-two {
            text-decoration: none;
            color: ghostwhite;
            font-style: italic; }
        #main #bg-dark .navbar .navbar-top .navbar-three {
          background-color: #2b094b;
          color: ghostwhite;
          border-radius: 30px 30px 30px 30px;
          border-color: rgba(0, 0, 0, 0.781);
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: xx-small;
          height: 20px; }
          #main #bg-dark .navbar .navbar-top .navbar-three .nav-three {
            text-decoration: none;
            color: ghostwhite;
            font-style: italic;
            width: 0.5vh;
            height: 0.5vh; }
  #main .bg-image .fondo {
    background-image: url("https://i.gifer.com/7Rrd.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    align-self: center; }
  #main .bg-image .marquee {
    font-size: clamp(4ve 4rem 8vw);
    overflow: hidden;
    animation: "slideleft 30s non-linear repeat"; }
  @keyframes marquee {
    0% {
      transform: translateX(0); }
    100% {
      transform: translateX(-100%); } }
    #main .bg-image .marquee .marquee--long span {
      margin-top: 60vh;
      display: inline-block;
      width: var(--tw);
      text-shadow: var(--tw) 0 currentColor, calc(var(--tw) * 2) 0 currentColor, calc(var(--tw) * 3) 0 currentColor, calc(var(--tw) * 4) 0 currentColor;
      will-change: repeat;
      animation: marquee var(--ad) linear infinite; }
      #main .bg-image .marquee .marquee--long span .reel a {
        width: 100%;
        margin-bottom: 15vh; }
        #main .bg-image .marquee .marquee--long span .reel a img {
          width: 50px;
          height: 50px; }
  #main .bg-image .Articulos {
    padding: 1rem;
    font-size: 0.9rem; }
    #main .bg-image .Articulos p {
      display: none;
      color: beige; }
    #main .bg-image .Articulos .snippet {
      display: block;
      color: beige;
      font-weight: 500; }
    #main .bg-image .Articulos .read-more {
      display: inline-block;
      margin-top: 0.5rem;
      font-size: 0.8rem;
      font-style: italic;
      color: beige;
      text-decoration: none;
      cursor: pointer; }
  .footer {
    margin-top: 0; }
    .footer .footer-nav {
      display: flex; }
      .footer .footer-nav .footerp {
        color: bisque; }
  /* INFO.HTML */
  .bg-image {
    background-image: url("https://i.ibb.co/DVB5tNW/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .bg-image .info .infotitulo {
      color: bisque;
      font-size: medium;
      font-style: italic;
      font-family: 'Lucida Sans', Times, serif;
      margin-left: 3vh; }
    .bg-image .info .infoinfo {
      color: blanchedalmond;
      font-size: x-small;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 100; }
    .bg-image .formulario {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      border-radius: 90px;
      margin-top: 20px; }
      .bg-image .formulario #contactForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px; }
        .bg-image .formulario #contactForm label {
          margin-bottom: 8px; }
        .bg-image .formulario #contactForm input,
        .bg-image .formulario #contactForm textarea {
          width: 50vh;
          padding: 8px;
          margin-bottom: 16px;
          background-color: white; }
        .bg-image .formulario #contactForm button {
          height: 45px;
          background-color: #0a3369;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 65px;
          cursor: pointer; }
      .bg-image .formulario a {
        text-decoration: none;
        color: inherit; }
      .bg-image .formulario .infovolver {
        height: 45px;
        background-color: #0a3369;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 65px;
        cursor: pointer; } }

@media (max-width: 385px) {
  #main #bg-dark {
    background-color: #1f001f;
    width: 20rem;
    height: 30px; }
    #main #bg-dark .navbar {
      display: flex;
      align-items: left; }
      #main #bg-dark .navbar .navbar-brand {
        height: 2rem;
        width: 1rem; }
      #main #bg-dark .navbar .navbar-top {
        list-style-type: none;
        display: flex;
        height: 20px;
        width: 20px; }
        #main #bg-dark .navbar .navbar-top .navbar-two {
          background-color: #2b094b;
          color: ghostwhite;
          border-radius: 30px 30px 30px 30px;
          border-color: black;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: xx-small;
          height: 20px; }
          #main #bg-dark .navbar .navbar-top .navbar-two .nav-two {
            text-decoration: none;
            color: ghostwhite;
            font-style: italic; }
        #main #bg-dark .navbar .navbar-top .navbar-three {
          background-color: #2b094b;
          color: ghostwhite;
          border-radius: 30px 30px 30px 30px;
          border-color: rgba(0, 0, 0, 0.781);
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: xx-small;
          height: 20px; }
          #main #bg-dark .navbar .navbar-top .navbar-three .nav-three {
            text-decoration: none;
            color: ghostwhite;
            font-style: italic;
            width: 0.5vh;
            height: 0.5vh; }
  #main .bg-image .fondo {
    background-image: url("https://i.gifer.com/7Rrd.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    align-self: center; }
  #main .bg-image .marquee {
    font-size: clamp(4ve 4rem 8vw);
    overflow: hidden;
    animation: "slideleft 30s non-linear repeat"; }
  @keyframes marquee {
    0% {
      transform: translateX(0); }
    100% {
      transform: translateX(-100%); } }
    #main .bg-image .marquee .marquee--long span {
      margin-top: 60vh;
      display: inline-block;
      width: var(--tw);
      text-shadow: var(--tw) 0 currentColor, calc(var(--tw) * 2) 0 currentColor, calc(var(--tw) * 3) 0 currentColor, calc(var(--tw) * 4) 0 currentColor;
      will-change: repeat;
      animation: marquee var(--ad) linear infinite; }
      #main .bg-image .marquee .marquee--long span .reel a {
        width: 100%;
        margin-bottom: 15vh; }
        #main .bg-image .marquee .marquee--long span .reel a img {
          width: 50px;
          height: 50px; }
  #main .bg-image .Articulos {
    padding: 1rem;
    font-size: 0.9rem; }
    #main .bg-image .Articulos p {
      display: none;
      color: beige; }
    #main .bg-image .Articulos .snippet {
      display: block;
      color: beige;
      font-weight: 500; }
    #main .bg-image .Articulos .read-more {
      display: inline-block;
      margin-top: 0.5rem;
      font-size: 0.8rem;
      font-style: italic;
      color: beige;
      text-decoration: none;
      cursor: pointer; }
  .footer {
    margin-top: 0; }
    .footer .footer-nav {
      display: flex; }
      .footer .footer-nav .footerp {
        color: bisque; }
  /* INFO.HTML */
  .bg-image {
    background-image: url("https://i.ibb.co/DVB5tNW/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .bg-image .info .infotitulo {
      color: bisque;
      font-size: medium;
      font-style: italic;
      font-family: 'Lucida Sans', Times, serif;
      margin-left: 3vh; }
    .bg-image .info .infoinfo {
      color: blanchedalmond;
      font-size: x-small;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 100; }
    .bg-image .formulario {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      border-radius: 90px;
      margin-top: 20px; }
      .bg-image .formulario #contactForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px; }
        .bg-image .formulario #contactForm label {
          margin-bottom: 8px; }
        .bg-image .formulario #contactForm input,
        .bg-image .formulario #contactForm textarea {
          width: 50vh;
          padding: 8px;
          margin-bottom: 16px;
          background-color: white; }
        .bg-image .formulario #contactForm button {
          height: 45px;
          background-color: #0a3369;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 65px;
          cursor: pointer; }
      .bg-image .formulario a {
        text-decoration: none;
        color: inherit; }
      .bg-image .formulario .infovolver {
        height: 45px;
        background-color: #0a3369;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 65px;
        cursor: pointer; } }

@media (max-width: 425px) {
  #main #bg-dark {
    background-color: #1f001f;
    width: 20rem;
    height: 30px; }
    #main #bg-dark .navbar {
      display: flex;
      align-items: left; }
      #main #bg-dark .navbar .navbar-brand {
        height: 2rem;
        width: 1rem; }
      #main #bg-dark .navbar .navbar-top {
        list-style-type: none;
        display: flex;
        height: 20px;
        width: 20px; }
        #main #bg-dark .navbar .navbar-top .navbar-two {
          background-color: #2b094b;
          color: ghostwhite;
          border-radius: 30px 30px 30px 30px;
          border-color: black;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: xx-small;
          height: 20px; }
          #main #bg-dark .navbar .navbar-top .navbar-two .nav-two {
            text-decoration: none;
            color: ghostwhite;
            font-style: italic; }
        #main #bg-dark .navbar .navbar-top .navbar-three {
          background-color: #2b094b;
          color: ghostwhite;
          border-radius: 30px 30px 30px 30px;
          border-color: rgba(0, 0, 0, 0.781);
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: xx-small;
          height: 20px; }
          #main #bg-dark .navbar .navbar-top .navbar-three .nav-three {
            text-decoration: none;
            color: ghostwhite;
            font-style: italic;
            width: 0.5vh;
            height: 0.5vh; }
  #main .bg-image {
    height: 120vh; }
    #main .bg-image .fondo {
      background-image: url("https://i.gifer.com/7Rrd.gif");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 80vh;
      align-self: center; }
    #main .bg-image .marquee {
      font-size: clamp(4ve 4rem 8vw);
      overflow: hidden;
      animation: "slideleft 30s non-linear repeat"; }
  @keyframes marquee {
    0% {
      transform: translateX(0); }
    100% {
      transform: translateX(-100%); } }
      #main .bg-image .marquee .marquee--long span {
        margin-top: 60vh;
        display: inline-block;
        width: var(--tw);
        text-shadow: var(--tw) 0 currentColor, calc(var(--tw) * 2) 0 currentColor, calc(var(--tw) * 3) 0 currentColor, calc(var(--tw) * 4) 0 currentColor;
        will-change: repeat;
        animation: marquee var(--ad) linear infinite; }
        #main .bg-image .marquee .marquee--long span .reel a {
          width: 100%; }
          #main .bg-image .marquee .marquee--long span .reel a img {
            width: 80px;
            height: 80px; }
    #main .bg-image .Articulos {
      padding: 1rem;
      font-size: 0.9rem; }
      #main .bg-image .Articulos p {
        display: none;
        color: beige; }
      #main .bg-image .Articulos .snippet {
        display: block;
        color: beige;
        font-weight: 500; }
      #main .bg-image .Articulos .read-more {
        display: inline-block;
        margin-top: 0.5rem;
        font-size: 0.8rem;
        font-style: italic;
        color: beige;
        text-decoration: none;
        cursor: pointer; }
  .footer {
    margin-top: -3vh; }
    .footer .footer-nav {
      display: flex; }
      .footer .footer-nav .footerp {
        margin-top: 0vh;
        color: bisque; }
  /* INFO.HTML */
  .bg-image {
    background-image: url("https://i.ibb.co/DVB5tNW/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .bg-image .info .infotitulo {
      color: bisque;
      font-size: medium;
      font-style: italic;
      font-family: 'Lucida Sans', Times, serif;
      margin-left: 3vh; }
    .bg-image .info .infoinfo {
      color: blanchedalmond;
      font-size: x-small;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 100; }
    .bg-image .formulario {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      border-radius: 90px;
      margin-top: 20px; }
      .bg-image .formulario #contactForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px; }
        .bg-image .formulario #contactForm label {
          margin-bottom: 8px; }
        .bg-image .formulario #contactForm input,
        .bg-image .formulario #contactForm textarea {
          width: 50vh;
          padding: 8px;
          margin-bottom: 16px;
          background-color: white; }
        .bg-image .formulario #contactForm button {
          height: 45px;
          background-color: #0a3369;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 65px;
          cursor: pointer; }
      .bg-image .formulario a {
        text-decoration: none;
        color: inherit; }
      .bg-image .formulario .infovolver {
        height: 45px;
        background-color: #0a3369;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 65px;
        cursor: pointer; } }

/* INFO.HTML 
#bg-image {
        background-image: url('https://i.ibb.co/DVB5tNW/Fondo.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 120vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .info {
            .infotitulo {
                color: bisque;
                font-size: x-small;
                font-style: italic;
                font-family: 'Lucida Sans', Times, serif;
                margin-left: 10vh;
            }

            .infoinfo {
                color: blanchedalmond;
                font-size: xx-small;
                text-align: center;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 100;
            }
        }

        .formulario {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            border-radius: 90px;
            margin-top: 20px;

            #contactForm {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;

                label {
                    margin-bottom: 8px;
                }

                input,
                textarea {
                    width: 5%;
                    padding: 8px;
                    margin-bottom: 16px;
                    background-color: white;
                }

                button {
                    height: 45px;
                    background-color: #0a3369;
                    color: #fff;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 65px;
                    cursor: pointer;
                }
            }

            a {
                text-decoration: none;
                color: inherit;
            }

            .infovolver {
                height: 45px;
                background-color: #0a3369;
                color: #fff;
                padding: 10px 20px;
                border: none;
                border-radius: 65px;
                cursor: pointer;
            }
        }
    }*/
@media (min-width: 426px) {
  #main #bg-dark {
    background-color: #1f001f;
    width: 20rem;
    height: 30px; }
    #main #bg-dark .navbar {
      display: flex;
      align-items: left; }
      #main #bg-dark .navbar .navbar-brand {
        height: 2rem;
        width: 1rem; }
      #main #bg-dark .navbar .navbar-top {
        list-style-type: none;
        display: flex;
        height: 20px;
        width: 20px; }
        #main #bg-dark .navbar .navbar-top .navbar-two {
          background-color: #2b094b;
          color: ghostwhite;
          border-radius: 30px 30px 30px 30px;
          border-color: black;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: xx-small;
          height: 20px; }
          #main #bg-dark .navbar .navbar-top .navbar-two .nav-two {
            text-decoration: none;
            color: ghostwhite;
            font-style: italic; }
        #main #bg-dark .navbar .navbar-top .navbar-three {
          background-color: #2b094b;
          color: ghostwhite;
          border-radius: 30px 30px 30px 30px;
          border-color: rgba(0, 0, 0, 0.781);
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: xx-small;
          height: 20px; }
          #main #bg-dark .navbar .navbar-top .navbar-three .nav-three {
            text-decoration: none;
            color: ghostwhite;
            font-style: italic;
            width: 0.5vh;
            height: 0.5vh; }
  #main .bg-image {
    height: 120vh; }
    #main .bg-image .fondo {
      background-image: url("https://s11.gifyu.com/images/SGTb7.gif");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 50vh; }
    #main .bg-image .marquee {
      font-size: clamp(4ve 4rem 8vw);
      overflow: hidden;
      animation: "slideleft 30s non-linear repeat"; }
  @keyframes marquee {
    0% {
      transform: translateX(0); }
    100% {
      transform: translateX(-100%); } }
      #main .bg-image .marquee .marquee--long span {
        margin-top: 40vh;
        display: inline-block;
        width: var(--tw);
        text-shadow: var(--tw) 0 currentColor, calc(var(--tw) * 2) 0 currentColor, calc(var(--tw) * 3) 0 currentColor, calc(var(--tw) * 4) 0 currentColor;
        will-change: repeat;
        animation: marquee var(--ad) linear infinite; }
        #main .bg-image .marquee .marquee--long span .reel a {
          width: 100%; }
          #main .bg-image .marquee .marquee--long span .reel a img {
            width: 50px;
            height: 50px; }
    #main .bg-image .Articulos {
      padding: 1rem;
      font-size: 0.9rem; }
      #main .bg-image .Articulos p {
        display: none;
        color: beige; }
      #main .bg-image .Articulos .snippet {
        display: block;
        color: beige;
        font-weight: 500; }
      #main .bg-image .Articulos .read-more {
        display: inline-block;
        margin-top: 0.5rem;
        font-size: 0.8rem;
        font-style: italic;
        color: beige;
        text-decoration: none;
        cursor: pointer; } }

.footer {
  margin-top: -3vh; }
  .footer .footer-nav {
    display: flex; }
    .footer .footer-nav .footerp {
      color: bisque; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
