main {
    .bg-image {
        .fondo {
            width: 100%;
            background-image: url('https://s11.gifyu.com/images/SGTb7.gif');
            background-repeat: no-repeat;
            background-size: cover;
            height: 110vh;
        }

        .marquee {
            font-size: clamp(4ve 4rem 8vw);
            overflow: hidden;
            animation: "slideleft 30s non-linear repeat";

            & {
                @keyframes marquee {
                    0% {
                        transform: translateX(0);
                    }

                    100% {
                        transform: translateX(-100%);
                    }
                }
            }

            .marquee--long {
                span {
                    margin-top: 90vh;
                    display: inline-block;
                    width: var(--tw);
                    text-shadow: var(--tw) 0 currentColor, calc(var(--tw) * 2) 0 currentColor, calc(var(--tw) * 3) 0 currentColor, calc(var(--tw) * 4) 0 currentColor;
                    will-change: repeat;
                    animation: marquee var(--ad) linear infinite;

                    .reel a {
                        width: 100%;

                        img {
                            width: 90px;
                            height: 90px;
                        }
                    }
                }
            }
        }
    }
}



/* ENTER.HTML */

.login-body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('../assets/apollo.gif');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    #login-container {
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        text-align: center;

        .login-input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            box-sizing: border-box;
        }

        .login-button {
            background-color: #fff34e;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #e2d40c;
            }
        }
    }

    .botonancla {
        margin-top: 10px;
        border-radius: 30px;
        width: 45px;
        height: 55px;
        background-color: #e2d40c;


        .botonliston {
            list-style-type: none;
        }
    }
}

/* INFO.HTML */

.bg-image {
    background-image: url('https://i.ibb.co/DVB5tNW/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info {
        .infotitulo {
            color: bisque;
            width: 100%;
        }

        .formulario {
            display: flex;
            flex-direction: column;

            #contactform {
                display: flex;
                flex-direction: column;
                .body_us {
                    font-family: Arial, sans-serif;
                    margin: 0;
                    padding: 0;
                    background-color: #0f0cb1;

                    .main_us {
                        display: block;
                        max-width: 600px;
                        margin: 20px auto;
                        padding: 20px;
                        background-color: #fff;
                        box-shadow: 0 0 10px rgba(138, 12, 223, 0.1);
                        border-radius: 5px;

                        label {
                            margin-bottom: 8px;
                        }

                        input,
                        textarea {
                            width: 100%;
                            padding: 8px;
                            margin-bottom: 16px;
                            box-sizing: border-box;

                            button {
                                background-color: #333333;
                                color: #fff;
                                padding: 10px 20px;
                                border: none;
                                border-radius: 3px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}